<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="styles/main.css"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/d6f9094a71.js" crossorigin="anonymous"></script>
  <script src="scripts/agent.js"></script>
</head>

<body>
  <h3>Agent page</h3>
  <div id="wa-list-messages" class="col-lg-12 wa-list-messages">
  </div>
</body>

</html>